.container {
    margin-inline: auto;
    max-width: 1440px;
    min-width: auto;
    padding-inline: 32px;
}


.row {
    display: flex;
   
}

.inverse-col{
    flex-direction: row-reverse;
}
.mobile-flex{
    flex-direction: row;
}

.align-items-center {
    align-items: center;
}
.size-img{
    width:720px; 
    height:100%;
}
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}
.background-color-green{
    background-color:  hsl(144, 68%, 84%);
}
.padding-top{
    margin-top: 2rem;
}

.color-white{
    color: #FFFFFF;
}
.white-border{
    border-color: #FFFFFF;
}
.mobile-display{
    display: none;
}
@media screen and (max-width: 600px) {
   
    .container {
        display: block; 
        max-width: none; 
        padding-inline: 0; 
    }

    .row {
        flex-direction: column; 
    }
    .size-img {
        width: 200%;
        height: 100%;
    }
    .mobile-padding-bottom{
        padding-bottom: 2rem;
    }

}