/** 
 *  Ce fichier n'est pas utilisé en ce moment. 
 *  Il est inclus seulement pour donner un rappel d'utilisation de variables CSS.
 */
:root {    
    --color-1: hsl(158 100% 23%);
    --color-2: hsl(144, 68%, 84%);
    --color-3: hsl(21, 75%, 65%);
    --color-4: hsl(190, 43%, 35%);
    --color-5: hsl(19, 66%, 80%);
    --color-6: hsl(164, 31%, 17%);
    --color-7: hsl(0, 0%, 0%);
    --color-8: hsla(0, 0%, 0%, 0.58);

    --ff-body: 'Inter', sans-serif;
    --ff-heading: 'Inter', sans-serif;
}

.hover-link> a:hover{
    color: var(--color-1);
}
.background-color-som2{
    background-color: var(--color-3);
}
.background-color-blueGreen{
    background-color: var(--color-4);
}
.background-color-som{
    background-color: var(--color-5);
}
.background-color-greenFon{
    background-color: var(--color-6);
}
.background-color-3{
    background-color: var(--color-4);
}
.width-css{
width: 3.3333333333%;
}

body {
  /*  font-family: var(--ff-body);*/
    font-weight: 400;
    font-family: "Noto sans", sans-serif;

}
@media screen and (max-width: 600px) {
    
    .width-css{
        width: 8.33333%;
        }
}
@font-face {
    font-family: 'Noto sans';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap') format('truetype');
  }