/** 
 *  Ce fichier n'est pas utilisé en ce moment. 
 *  Il est inclus seulement pour donner un rappel d'utilisation de variables CSS.
 */
:root {    
    /* FIXME: Les variables pour les couleurs ne sont pas nommés correctement, c'est seulement pour vous donner la liste des différentes couleurs. */
    --color-1: hsl(158 100% 23%);
    --color-2: hsl(144, 68%, 84%);
    --color-3: hsl(21, 75%, 65%);
    --color-4: hsl(190, 43%, 35%);
    --color-5: hsl(19, 66%, 80%);
    --color-6: hsl(164, 31%, 17%);
    --color-7: hsl(0, 0%, 0%);
    --color-8: hsla(0, 0%, 0%, 0.58);

    --ff-body: 'Inter', sans-serif;
    --ff-heading: 'Inter', sans-serif;
}
.hover-link> a:hover{
    color: var(--color-1);
}
.background-color-som2{
    background-color: var(--color-3);
}
.background-color-blueGreen{
    background-color: var(--color-4);
}
.background-color-som{
    background-color: var(--color-5);
}
.background-color-greenFon{
    background-color: var(--color-6);
}
.background-color-3{
    background-color: var(--color-4);
}

body {
    font-family: var(--ff-body);
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-heading);
    font-weight: 700;
}
.row{
    display: flex;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
}
/* TODO: Ajouter autant de styles communs que votre site a besoin en utilisant les variables CSS, etc. */

/** 
 *  Ce fichier n'est pas utilisé en ce moment. 
 *  Il est inclus seulement pour donner un rappel d'utilisation de variables CSS.
 */
 .col-1  { width: 8.33333333%; }
.col-2  { width: 16.66666667%; }
.col-3  { width: 25%; }
.col-4  { width: 33.33333333%; }
.col-5  { width: 41.66666667%; }
.col-6  { width: 50%; }
.col-7  { width: 58.33333333%; }
.col-8  { width: 66.66666667%; }
.col-9  { width: 75%; }
.col-10 { width: 83.33333333%; }
.col-11 { width: 91.66666667%; }
.col-12 { width: 100%; }

.offset-1  { margin-left: 8.33333333%; }
.offset-2  { margin-left: 16.66666667%; }
.offset-3  { margin-left: 25%; }
.offset-4  { margin-left: 33.33333333%; }
.offset-5  { margin-left: 41.66666667%; }
.offset-6  { margin-left: 50%; }
.offset-7  { margin-left: 58.33333333%; }
.offset-8  { margin-left: 66.66666667%; }
.offset-9  { margin-left: 75%; }
.offset-10 { margin-left: 83.33333333%; }
.offset-11 { margin-left: 91.66666667%; }

@media (max-width: 600px) {

   .row{
    flex-direction: column;
    flex-wrap: wrap;
   }
   .zero-margin-left{
    margin-left: 0;
    margin-top: 1rem;
   }
  }